<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yourapp">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    
    <application
        ...
        android:requestLegacyExternalStorage="true">
        
        <service android:name=".OverlayService" />
        
        ...
    </application>
</manifest>
